@tailwind base;
@tailwind components;
@tailwind utilities;

/* Size  */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #25d7d2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2e817f;
}
/* Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
